{% extends 'arabic/base.html' %}
{% load static %}
{% block SEO %}
<meta name="description" content="{{config.SEO_DESCRIPTION_FR}}" />
<link rel="canonical" href="{{config.SITE_URL}}" />
<link rel="next" href="{{config.SITE_URL}}" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{config.SITE_NAME}} " />
<meta property="og:description" content="{{config.SEO_DESCRIPTION_FR}}" />
<meta property="og:url" content="{{config.SITE_URL}}" />
<meta property="og:site_name" content="{{config.SITE_NAME}}" />
<meta property="og:image" content="/media/{{config.LOGO}}" />
<meta property="og:image:width" content="813" />
<meta property="og:image:height" content="360" />
<meta property="og:image:type" content="image/png" />
{% endblock SEO %}
{% block content %}
{% if toast %}
<div class="notification-toast" data-toast>
  <button class="toast-close-btn" data-toast-close>
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <div class="toast-banner">
    <img src="{{toast.product.image.url}}" alt="Rose Gold Earrings" width="80" height="70">
  </div>

  <div class="toast-detail">

    <p class="toast-message">
      {{toast.title}}
    </p>

    <p class="toast-title">
      {{toast.product.name}}
    </p>

    <p class="toast-meta">
      <time datetime="PT2M">2 Minutes</time> ago
    </p>

  </div>

</div>
{% endif %}


<section class="banner my-3 ">

    <div class="container" >

      <div class="slider-container has-scrollbar">
{% for img in imgs_banner %}
        <div class="slider-item skeleton">
          <img src="{{img.image.url}}" alt="women's latest fashion sale" class="banner-img">

          <div class="banner-content" style="background: linear-gradient(45deg, #0200ffb0, #05e49e80);">

            <p class="banner-subtitle" style="
            font-weight: bold;
            color: cornsilk;
        ">{{img.category}}</p>

            <h2 style="font-size:{{config.FONT_SIZE_TITLE}} !important;"class="banner-title" style="color: #c7ff00;">{{img.titel}}</h2>

            <p class="banner-text text-light">
              Commence à partir de  <b>{{img.price}}</b> DA
            </p>

            <a href="{% url 'products'  %}" class="banner-btn">Shop now</a>

          </div>

        </div>
{% endfor %}
      </div>

    </div>

  </section>




  <!--
    - CATEGORY
  -->

  <div class="category">

    <div class="container">

      <div class="category-item-container has-scrollbar">
{% for cat in category_sub %}
        <div class="category-item">

          <div class="category-img-box">
            <img src="{{cat.image.url}}" alt="dress & frock" width="30">
          </div>

          <div class="category-content-box">

            <div class="category-content-flex justify-space-between align-items-baseline">
              <h3 class="category-item-title px-1" style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;">{{cat.name | capfirst}}</h3>

              <p class="category-item-amount">(53)</p>
            </div>

            <a href="{% url 'category' cat=cat.name  %}" class="category-btn">Show all</a>

          </div>

        </div>
        {% endfor %}
      </div>

    </div>

  </div>


<!-- End banner Area -->

<!-- start features Area -->

<!-- end features Area -->


<div class="container">
<div class="product-minimal">

  <div class="product-showcase">

    <h2 style="font-size:{{config.FONT_SIZE_TITLE}} !important;"class="title">Nouvelles Arrivées</h2>

    <div class="showcase-wrapper has-scrollbar">

      <div class="showcase-container">
    {% for product in new_arrival %}
        <div class="showcase">
          <a href="{% url 'single-product' pk=product.slug  %}" class="showcase-img-box">
            {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="{% url 'single-product' pk=product.slug  %}">
              <h4 style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;"class="showcase-title">{{product.name}}</h4>
            </a>
        
          {% include 'arabic/partes/rating.html' with product=product %}  
            <a href="{% url 'category' cat=product.category.name  %}" class="showcase-category">{{product.category}}</a>
          {% include '../partes/price_box.html' with product=product %}

          </div>

        </div>
        {% endfor %}
      </div>

      <div class="showcase-container">
      
        {% for product in new_arrival %}
        <div class="showcase">
          <a href="{% url 'single-product'  pk=product.slug %}" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="{% url 'single-product'  pk=product.slug %}" >
              <h4 style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;"class="showcase-title">{{product.name}}</h4>
            </a>

        
            {% include 'arabic/partes/rating.html' with product=product %}  
            <a href="{% url 'category' cat=product.category.name  %}" class="showcase-category">{{product.category}}</a>
          {% include '../partes/price_box.html' with product=product %}


          </div>

        </div>
        {% endfor %}
      </div>

    </div>

  </div>

  <div class="product-showcase">
  
    <h2 style="font-size:{{config.FONT_SIZE_TITLE}} !important;"class="title">Tendance<i class="fa fa-line-chart mx-2 text-info" ></i></h2> 
  
    <div class="showcase-wrapper  has-scrollbar">
  
      <div class="showcase-container">
  
        {% for trend in trending %}
        <div class="showcase">
          <a href="{% url 'single-product'  pk=trend.slug %}" class="showcase-img-box">
               {% if trend.image %}
            <img src="{{trend.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>
          <div class="showcase-content">
            <a href="{% url 'single-product'  pk=trend.slug %}">
              <h4 style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;"class="showcase-title">{{trend.name}}</h4>
            </a>
        {% include 'arabic/partes/rating.html' with product=trend %}

            <a href="{% url 'category' cat=trend.category.name  %}" class="showcase-category">{{trend.category}}</a>

            {% include '../partes/price_box.html' with product=trend %}


          </div>

        </div>
        {% endfor %}
  
      </div>
  
      <div class="showcase-container">
  
        {% for trend in trending %}
        <div class="showcase">
          <a href="{% url 'single-product'  pk=trend.slug %}"  class="showcase-img-box">
               {% if trend.image %}
            <img src="{{trend.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="{% url 'single-product'  pk=trend.slug %}" >
              <h4 style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;"class="showcase-title">{{trend.name}}</h4>
            </a>
            {% include 'arabic/partes/rating.html' with product=trend %}

            <a href="{% url 'category' cat=trend.category.name  %}" class="showcase-category">{{trend.category}}</a>

            {% include '../partes/price_box.html' with product=trend %}


          </div>

        </div>
        {% endfor %}
  
      </div>
  
    </div>
  
  </div>

  <div class="product-showcase">
  
    <h2 style="font-size:{{config.FONT_SIZE_TITLE}} !important;"class="title">meilleure cote <i class="fa fa-star text-warning"></i></h2>
  
    <div class="showcase-wrapper  has-scrollbar">
  
      <div class="showcase-container">
  
        {% for product in top_rated %}
        <div class="showcase">
          <a href="{% url 'single-product'  pk=product.slug %}" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="{% url 'single-product'  pk=product.slug %}">
              <h4 style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;"class="showcase-title">{{product.name}}</h4>
            </a>
            
          {% include 'arabic/partes/rating.html' with product=product %}

  

            <a href="{% url 'category' cat=product.category.name  %}" class="showcase-category">{{product.category}}</a>

            {% include '../partes/price_box.html' with product=product %}


          </div>

        </div>
        {% endfor %}
  
      </div>
  
      <div class="showcase-container">
  
        {% for product in new_arrival %}
        <div class="showcase">
          <a href="{% url 'single-product'  pk=product.slug %}" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="{% url 'single-product'  pk=product.slug %}">
              <h4 style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;"class="showcase-title">{{product.name}}</h4>
            </a>
            
          {% include 'arabic/partes/rating.html' with product=product %}

  

            <a href="{% url 'category' cat=product.category.name  %}" class="showcase-category">{{product.category}}</a>

            {% include '../partes/price_box.html' with product=product %}


          </div>

        </div>
        {% endfor %}
      </div>
  
    </div>
  
</div>

</div>

<div class="product-featured">
  <div class="showcase-wrapper has-scrollbar">
    {% if affaires %}
    <div class="product-featured">
      <div class="d-flex">
        <h2 style="font-size:{{config.FONT_SIZE_TITLE}} !important;"class="title">Offres d'aujourd'hui</h2>
      </div>
      <div class="showcase-wrapper has-scrollbar">
    {% for affaire in affaires %}
    {% if affaire.test_affaire_existed%}
        <div class="showcase-container">
    
          <div class="showcase">
            
            <div class="showcase-banner">
              {% if affaire.product.image %}
              <img src="{{affaire.product.image.url}}" alt="shampoo, conditioner & facewash packs" class="showcase-img">
              {% endif %}
            </div>
    
            <div class="showcase-content">
              
              <div class="showcase-rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>
              <a href="#">
                <h3 class="showcase-title" style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;">{{affaire.product.name_ar}}</h3>
              </a>
    
              <p class="showcase-desc" style="text-align:initial">
               {{affaire.product.description_ar}}
              </p>
    
              <div class="price-box">
                {% if affaire.product.price_promo %}
                <p class="price">{{affaire.product.price_promo}} DA</p>
                <del>{{affaire.product.price}} DA</del>
                {% else %}
                <p class="price">{{affaire.product.price}} DA</p>
                {% endif %}
              </div>
    
              <a href="{% url 'single-product' affaire.product.slug  %}" class="add-cart-btn" style="text-align:initial;width: fit-content ;">Acheter maintenant </a>
    
    
              <div class="countdown-box">
    
                <p class="countdown-desc" style="text-align:initial">
                  L'offre se termine avant:
                </p>
    
                <div class="countdown">
    
                  <div class="countdown-content">
    
                    <p class="display-number" id="display_days-{{affaire.id}}">{{affaire.get_time.days}}</p>
    
                    <p class="display-text">journée</p>
    
                  </div>
    
                  <div class="countdown-content">
                    <p class="display-number" id='display_hours-{{affaire.id}}'>{{affaire.get_time.hours}}</p>
                    <p class="display-text">heure</p>
                  </div>
    
                  <div class="countdown-content">
                    <p class="display-number" id="display_minuts-{{affaire.id}}">{{affaire.get_time.minuts}}</p>
                    <p class="display-text">minutes</p>
                  </div>
    
                  <div class="countdown-content">
                    <p class="display-number" id="display_seconds-{{affaire.id}}">{{affaire.get_time.seconds}}</p>
                    <p class="display-text"> seconde</p>
                  </div>
    
                </div>
    
              </div>
    
            </div>
    
          </div>
    
        </div>
    
        {% endif %}
        <script>
      let countDownDate = "{{affaire.get_time}}";//in seconds
      console.log(countDownDate)
      var x = setInterval(function() {
      let now = new Date().getTime()/1000;
      let distance = (countDownDate - now);
      let days = Math.floor(distance / (3600*24));
      let hours = Math.floor((distance % (60 * 60 * 24)) / (60 * 60));
      let minutes = Math.floor((distance % (60 * 60)) / 60);
      let seconds = Math.floor(distance % 60 );
      let display_days = document.getElementById("display_days-{{affaire.id}}") ;
      let display_hours = document.getElementById("display_hours-{{affaire.id}}") ;
      let display_minuts = document.getElementById("display_minuts-{{affaire.id}}") ;
      let display_seconds = document.getElementById("display_seconds-{{affaire.id}}") ;
      display_days.innerHTML=`${days}`;
      display_hours.innerHTML=hours;
      display_minuts.innerHTML=minutes;
      display_seconds.innerHTML=`${seconds}`;
          }, 1000);
          </script>
    {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

</div>

</div>
<!-- Start category Area -->

<!-- End category Area -->
<!-- start product Area -->
<section class="related-product-area section_gap_bottom">
  <div class="single-product-slider">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1 style="font-size:{{config.FONT_SIZE_TITLE}} !important;">Derniers produits</h1>
                </div>
            </div>
        </div>
        <section class="lattest-product-area category-list">
          <div class="product-main container pt-5">
  
            <h2 style="font-size:{{config.FONT_SIZE_TITLE}} !important;"class="title">Nouveaux produits</h2>
          
            <div class="product-grid" id="list_product">
          {% for product in products  %}
              <div class="showcase">
          
                <div class="showcase-banner">
          
                  <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                  <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">
          
                  {% if product.status%}
                  <p class="
                  showcase-badge
                  {% if product.status == "promotion" %}
                  angle pink
                  {% elif product.status == "nouvelle" %}
                  angle black
                  {% endif %}
                  ">{{product.status}}</p>
            {% endif %}
          
                  <div class="showcase-actions">
          
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
          
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
          
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
          
                    <button class="btn-action update-cart"  data-action="add"
                    data-product="{{product.id}}">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
          
                  </div>
          
                </div>
          
                <div class="showcase-content">
          
                  <a href="#" class="showcase-category">{{product.category}}</a>
          
                  <a href="{% url 'single-product' pk=product.slug  %}">
                    <h3 class="showcase-title" style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;">{{product.name}}</h3>
                  </a>
          
                  
          {% include 'arabic/partes/rating.html' with product=product %}

  
                  {% include '../partes/price_box.html' with product=product %}
                </div>
          
              </div>
              {% endfor %}
            </div>
          
          </div>
        </section>
    </div>
</div>
</section>
<!-- end product Area -->

<!-- Start exclusive deal Area -->

<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<!-- End brand Area -->

<!-- Start related-product Area -->
{% for section in sections %}
<section class="related-product-area section_gap_bottom">
  <div class="single-product-slider">
    <div class="container">

        <section class="lattest-product-area category-list">
          <div class="product-main container pt-5">
  
            <h2 style="font-size:{{config.FONT_SIZE_TITLE}} !important;"class="title">{{section.category.name}}</h2>
          
            <div class="product-grid" id="list_product">
          {% for product in products  %}
              <div class="showcase">
          
                <div class="showcase-banner">
          
                  <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                  <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">
          
                  {% if product.status%}
                  <p class="
                  showcase-badge
                  {% if product.status == "promotion" %}
                  angle pink
                  {% elif product.status == "nouvelle" %}
                  angle black
                  {% endif %}
                  ">{{product.status}}</p>
            {% endif %}
          
                  <div class="showcase-actions">
          
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>
          
                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>
          
                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>
          
                    <button class="btn-action update-cart"  data-action="add"
                    data-product="{{product.id}}">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
          
                  </div>
          
                </div>
          
                <div class="showcase-content">
          
                  <a href="#" class="showcase-category">{{product.category}}</a>
          
                  <a href="{% url 'single-product'  pk=product.slug %}">
                    <h3 class="showcase-title" style="font-size:{{config.FONT_SIZE_PRIMARY}} !important;">{{product.name}}</h3>
                  </a>
          
                  <div class="showcase-rating">
                    {% if product.avg_rating == 5 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    {% elif product.avg_rating == 4 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
          
                    {% elif product.avg_rating == 3 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
          
                    {% elif product.avg_rating == 2 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
          
                    {% elif product.avg_rating == 1 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    {% else %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    {% endif %}
                  </div>
          
                  <div class="price-box">
                                        {% if product.price_promo %}
                    <p class="price"> {{product.price_promo}} DA</p>
                    <del>{{product.price}} DA</del>
                    {% else %}
                    <p class="price">{{product.price}} DA</p>
                    {% endif %}
                    
                    
                  </div>
          
                </div>
          
              </div>
              {% endfor %}
            </div>
          
          </div>
        </section>
    </div>
</div>
</section>
{% endfor %}
{% endblock %}
