<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="single-footer-widget text-center" >
          <h6>معلومات عنا</h6>
          <p>
{{config.ABOUT}}
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="single-footer-widget text-center" >
          <h6> توصيل الى المنزل</h6>
          <p>الدفع عند التوصيل</p>
          <i class="fa fa-truck" style="font-size:100px;color:{{config.PRIMARY_COLOR}}" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="single-footer-widget text-center" >
            <h6>تبديل المنتج</h6>
            <p>{{config.CONTACT_NUMBER }} يمكنك عمل تبادل عبر الهاتف </p>
            <i class="fa fa-retweet" style="font-size:100px;color:{{config.PRIMARY_COLOR}}" aria-hidden="true"></i>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center">
        <div class="single-footer-widget text-center" >
          <h6>تواصل معنا</h6>
          <p>عبر</p>
          <div class="footer-social d-flex align-items-center justify-content-center text-center">
            <a href="{{config.FACEBOOK_URL}}"><i class="fa fa-facebook"></i></a>
            <a href="{{config.INSTAGRAM_URL}}"><i class="fa fa-instagram"></i></a>
            <a href="{{config.LINKEDIN_URL}}"><i class="fa fa-linkedin"></i></a>
            <a href="tel:{{config.WHATSAPP_NUMBER}}"><i class="fa fa-whatsapp"></i></a>
          </div>
        </div>
    </div>
  </div>

    <div
      class="footer-bottom d-flex justify-content-center align-items-center flex-wrap"
    >
      <p class="footer-text m-0">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        جميع الحقوق محفوظة | مطور 
        <i style="color:{{config.PRIMARY_COLOR}}" class="fa fa-heart-o" aria-hidden="true" ></i> بواسطة
        <a href="#" style="color:{{config.PRIMARY_COLOR}}" target="_blank">A-Amine Touahria</a>
      </p>
    </div>
  </div>
</footer>
