<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="single-footer-widget text-center">
          <h6>About Us</h6>
          <p>
{{config.ABOUT}}
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="single-footer-widget text-center">
          <h6> Livrasion a Domicile</h6>
          <p>Paimente a La Livrasion 58 wilaya</p>
          <i class="fa fa-truck" style="font-size:100px;color:orange" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="single-footer-widget text-center">
            <h6>Echange</h6>
            <p>Vous pouvez faire un échange par Télephone {{config.CONTACT_NUMBER }}</p>
            <i class="fa fa-retweet" style="font-size:100px;color:orange" aria-hidden="true"></i>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="single-footer-widget text-center">
          <h6>Suivez-nous</h6>
          <p>Soyons sociaux</p>
          <div class="footer-social d-flex align-items-center justify-content-center">
            <a href="{{config.FACEBOOK_URL}}"><i class="fa fa-facebook"></i></a>
            <a href="{{config.INSTAGRAM_URL}}"><i class="fa fa-instagram"></i></a>
            <a href="tel:{{config.WHATSAPP_NUMBER}}"><i class="fa fa-whatsapp"></i></a>
          </div>
        </div>
    </div>
  </div>

    <div
      class="footer-bottom d-flex justify-content-center align-items-center flex-wrap"
    >
      <p class="footer-text m-0">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | developed with
        <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="#" target="_blank">A-Amine Touahria</a>
      </p>
    </div>
  </div>
</footer>
